@page "/MyQuickGrid"


<div class="grid">
    @if (m_QuickDataForShow != null)
    {
        <QuickGrid Items="@m_QuickDataForShow">
            @foreach (var b in m_QuickDataForShow)
            {
            //Test(b);
@*                 <PropertyColumn Title="1" Property="@(b=>b[0])" Sortable="true" Align="Align.Right" />
                <PropertyColumn Title="1" Property="@(b=>b[1])" Sortable="true" Align="Align.Right" /> *@
                @for (int i = 0; i < b.Count(); ++i)
                {
                    int l_iIndex = i;
                    //this occur error have no idea why.
                    //<PropertyColumn Title="@i.ToString()" Property="@(b=>b[i])" Sortable="true" Align="Align.Right" />
                    <PropertyColumn Title="@m_strTitleList[i]" Property="@(b=>b[l_iIndex])" Sortable="true" Align="Align.Right" />
                }
                break;
            }
        </QuickGrid>
    }
</div>

@code
{
    //if you want to do button things check below out
    //https://aspnet.github.io/quickgridsamples/columns
    [Parameter]
    public List<string> m_strTitleList { get; set; } = new List<string> { "qoo1", "qoo2" };
    [Parameter]
    public List<List<string>> m_GridDataListList { get; set; } = new List<List<string>>()
    {
        new List<string>{"1","2"},
        new List<string>{"3","4"}
    };

    IQueryable<List<string>> m_QuickDataForShow;


    protected override async Task OnInitializedAsync()
    {
        m_QuickDataForShow = m_GridDataListList.AsQueryable();
    }

    protected void Test(Object e_Test)
    {
        var l_e_Test = e_Test;
    }
}


@* sample code
<BlazorAppWASMStandAlone.CommonCompoment.MyQuickGrid m_GridDataListList="@m_GridDataListList" m_strTitleList="@m_strTitleList" />

@code {
    public List<List<string>> m_GridDataListList;
    public List<string> m_strTitleList;

    protected override async Task OnInitializedAsync()
    {
        m_GridDataListList = new List<List<string>>()
        {
            new List<string>{"a","b","c","d","e","f","g"},
            new List<string>{"a1","b1","c1","d1","e1","f1","g1"}
        };
        m_strTitleList = new List<string> { "A", "B", "C", "D", "E", "F", "G" };
    }

} *@
