@page "/FilterSelect"

@inject HttpClient Http
@inherits cFilterSelect

@if(m_SelectNameAndSelectOptionTextMap != null)
{
    <h1>
        <BlazorAppWASMStandAlone.CommonCompoment.TimePickerComponent @bind-SecondOfDay="SecondOfDay" UseNativeTimePicker="@UseNative" IsDisabled="IsDisabled" />
    </h1>
@*     <h1>
        <BlazorAppWASMStandAlone.CommonCompoment.DateTimePickerComponent />
    </h1> *@
    <p>
        <BlazorAppWASMStandAlone.CommonCompoment.DateTimePickerComponent @bind-DateAndTime="SelectedDateTime" UseNative="@UseNative" IsDisabled="IsDisabled" />
    </p>
@*     <h1>
        <BlazorAppWASMStandAlone.CommonCompoment.DateTimePickerComponent />
    </h1>
    <h1>
        <BlazorAppWASMStandAlone.CommonCompoment.TimePickerComponent/>
    </h1> *@
    foreach(var item in m_SelectNameAndSelectOptionTextMap)
    {
        <BlazorAppWASMStandAlone.CommonCompoment.MySelect m_strSelectLabel="@item.Key" m_SelectTextArray="@item.Value"/>
    }
@*     https://demos.blazorbootstrap.com/form/date-input *@
@*     <div class="mb-3">
        <DateInput TValue="DateOnly" @bind-Value="@date2" Placeholder="Enter Date" />
    </div>
    <div class="mb-3">Entered date: @date1</div> *@
}